In [1]:
import pandas as pd
import numpy as np

In [2]:
car_df= pd.read_csv('C:\Data Documents\Datasate\Car_df\Quiker\df.csv')
car_df

,Link,Price,Ad ID,Brand Name,Year,Kms Driven,Fuel Type,Model,Variant,Color,Location
0,https://www.quikr.com/cars/used-white-2012-hon...,"₹4,25,000",357878127.0,Honda,2012,"74,532",Petrol,City,1.5 V MT,White,Mumbai
1,https://www.quikr.com/cars/used-silver-2008-ma...,"₹1,75,000",357878583.0,Maruti Suzuki,2008,"50,523",Petrol,Swift,NaN,Silver,Mumbai
2,https://www.quikr.com/cars/used-2011-maruti-su...,"₹1,65,000",357878283.0,Maruti Suzuki,2011,"29,900",Petrol,Alto K10,NaN,NaN,Mumbai
3,https://www.quikr.com/cars/used-red-2012-hyund...,"₹2,65,000",357909839.0,Hyundai,2012,"37,611",Petrol,I10,Magna,Red,Mumbai
4,https://www.quikr.com/cars/used-2019-renault-k...,"₹4,65,000",358896672.0,Renault,2019,"11,500",Petrol,Kwid,1.0 RXT AMT,NaN,Mumbai
...,...,...,...,...,...,...,...,...,...,...,...
2604,https://www.quikr.com/cars/used-grey-2012-mahi...,"₹1,30,000",359767101.0,Chevrolet,2011,"50,240",Petrol,Spark,1.0 LT,Beige,Chennai
2605,https://www.quikr.com/cars/used-blue-2022-maru...,"₹2,00,000",359768961.0,Hyundai,2010,"1,05,000",Petrol,Accent,GLE,Red,Bangalore
2606,https://www.quikr.com/cars/used-2015-hyundai-g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2607,https://www.quikr.com/cars/used-white-2013-hyu...,"₹1,10,000",359729654.0,Tata,2018,"22,750",Petrol,Nano,NaN,NaN,Bharatpur
2608,https://www.quikr.com/cars/used-2016-mahindra-...,"₹3,00,000",359458980.0,Ford,2014,"33,000",Petrol,Fiesta Classic,1.6 Duratec LXI,NaN,North24Parganas

In [3]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Link        2448 non-null   object
 1   Price       2420 non-null   object
 2   Ad ID       2420 non-null   float64
 3   Brand Name  2419 non-null   object
 4   Year        2419 non-null   object
 5   Kms Driven  2412 non-null   object
 6   Fuel Type   2412 non-null   object
 7   Model       2419 non-null   object
 8   Variant     1712 non-null   object
 9   Color       1773 non-null   object
 10  Location    2420 non-null   object
dtypes: float64(1), object(10)
memory usage: 224.3+ KB

In [4]:
# incresing areay output view
import sys
np.set_printoptions(threshold=sys.maxsize)

In [5]:
# calculation of all nan values
car_df.isna().sum()

Link          161
Price         189
Ad ID         189
Brand Name    190
Year          190
Kms Driven    197
Fuel Type     197
Model         190
Variant       897
Color         836
Location      189
dtype: int64

# Data cleaning part

### What to do

- Drop columns: Link, Ad Id, Variant, Color, Location
- Price col has some of values on Lakh 
- Price col object to int, remove comes and nan values
- Year has Before 1995. remove this
- Year col object to int 
- Kms Driven col object to int, remove comes
- Fule Type has nan values remove these values

In [6]:
# backup 
backup_car_df= car_df.copy()

In [7]:
# drop unnecessary colunms
car_df= car_df.drop(['Link', 'Ad ID', 'Variant', 'Color', 'Location'], axis=1)

In [8]:
# remove null values from Year
car_df.dropna(inplace= True)

In [9]:
# remove Before 1995 from Year column and change data type
car_df['Year']= car_df['Year'].str.replace('Before 1995', '1995').astype(int)

In [10]:
car_df.shape

(2405, 6)

In [11]:
# remove commes and ₹ from price column
car_df['Price']=car_df['Price'].str.replace('₹', '').str.replace(',', '')

# remove ''14 laskhs'' in price column
car_df= car_df[car_df['Price'].str.isnumeric()] # it takes only numeric vales and remove all the non numeric   

# change data type
car_df['Price']= car_df.Price.astype(int)

In [12]:
# remove commes
car_df['Kms Driven']=car_df['Kms Driven'].str.replace(',', '')

# change data type
car_df['Kms Driven']= car_df['Kms Driven'].astype(int)

In [13]:
car_df.describe()

               Price         Year     Kms Driven
count    2131.000000  2131.000000    2131.000000
mean   457698.872830  2014.255748   62359.357109
std    230898.309637     4.295954   53697.994708
min     30000.000000  1995.000000       5.000000
25%    275000.000000  2012.000000   29933.000000
50%    452199.000000  2015.000000   53000.000000
75%    620099.000000  2017.000000   81663.000000
max    999599.000000  2022.000000  850000.000000

# Model Train

In [14]:
# separate input and output data
x= car_df.drop(columns= 'Price')
y= car_df['Price']

In [15]:
# divied numaric and categorical data
num_cols= x.select_dtypes(include= np.number).columns.tolist()
cat_cols= x.select_dtypes('object').columns.tolist()

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
# split data to tain and test data
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size= 0.2)

In [18]:
x_train

         Brand Name  Year  Kms Driven Fuel Type          Model
1937  Maruti Suzuki  2010       71000    Petrol          Swift
2321          Honda  2013       81850    Diesel          Amaze
1345          Honda  2016       27819    Petrol           Jazz
2099  Maruti Suzuki  2016       99000    Diesel  Vitara Brezza
1400     Volkswagen  2017       32893    Petrol           Polo
...             ...   ...         ...       ...            ...
1750      Chevrolet  2011       71200    Petrol          Spark
1126  Maruti Suzuki  2016       95754    Petrol       Alto 800
2104  Maruti Suzuki  2018       72000    Diesel        S Cross
1094     Volkswagen  2019       19121    Petrol           Polo
16           Datsun  2018       14652    Petrol        Redi GO

[1704 rows x 5 columns]

In [19]:
x_test

         Brand Name  Year  Kms Driven Fuel Type     Model
781   Maruti Suzuki  2019       24416    Petrol      Eeco
1690       Mahindra  2012      108000    Diesel      Xylo
1853  Maruti Suzuki  2004       45000    Petrol       Zen
597        Mahindra  2016       52123    Diesel    TUV300
1289          Honda  2019       46312    Petrol      City
...             ...   ...         ...       ...       ...
2340           Tata  2010       18165    Petrol      Nano
1381  Maruti Suzuki  2018       19526    Petrol     Ignis
1886        Hyundai  2009       70000    Petrol       I10
1539  Maruti Suzuki  2018       36002    Diesel   S Cross
1842  Maruti Suzuki  2012       22200    Petrol  Alto K10

[427 rows x 5 columns]

In [20]:
y_train

1937    265000
2321    225000
1345    657399
2099    600000
1400    520799
         ...
1750    105000
1126    269099
2104    820000
1094    612899
16      414899
Name: Price, Length: 1704, dtype: int32

In [21]:
y_test

781     480399
1690    475000
1853     50000
597     690000
1289    924599
         ...
2340     94000
1381    546399
1886    230000
1539    928599
1842    300000
Name: Price, Length: 427, dtype: int32

In [22]:
cat_cols

['Brand Name', 'Fuel Type', 'Model']

In [23]:
num_cols

['Year', 'Kms Driven']

In [24]:
car_df['Brand Name'].unique()

array(['Honda', 'Maruti Suzuki', 'Hyundai', 'Renault', 'Ford', 'Tata',
       'Datsun', 'Nissan', 'Mahindra', 'Chevrolet', 'Kia', 'Volkswagen',
       'Toyota', 'BMW', 'Fiat', 'Skoda', 'Mercedes Benz', 'Ssangyong',
       'Ashok Leyland', 'MG Motors', 'Jeep', 'Mitsubishi', 'Isuzu',
       'Volvo', 'Hindustan Motors'], dtype=object)

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [26]:
encoder= OneHotEncoder(sparse= False, handle_unknown= 'ignore')
encoder.fit(x[cat_cols])
encoder.categories_

[array(['Ashok Leyland', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford',
        'Hindustan Motors', 'Honda', 'Hyundai', 'Isuzu', 'Jeep', 'Kia',
        'MG Motors', 'Mahindra', 'Maruti Suzuki', 'Mercedes Benz',
        'Mitsubishi', 'Nissan', 'Renault', 'Skoda', 'Ssangyong', 'Tata',
        'Toyota', 'Volkswagen', 'Volvo'], dtype=object),
 array(['CNG', 'Diesel', 'Electric', 'Hybrid', 'LPG', 'Petrol',
        'Petrol + CNG'], dtype=object),
 array(['3 Series', '370Z', '5 Series', '800', 'A Star', 'ALTROZ', 'AURA',
        'Accent', 'Accord', 'Alto', 'Alto 800', 'Alto K10', 'Amaze',
        'Ambassador', 'Ameo', 'Aria', 'Aveo', 'BRV', 'Baleno', 'Beat',
        'Bolero', 'Brio', 'C Class', 'CRV', 'Camry', 'Captur', 'Celerio',
        'Ciaz', 'City', 'City ZX', 'Civic', 'Classic', 'Compass',
        'Corolla', 'Corolla Altis', 'Creta', 'Cruze', 'D Max', 'Duster',
        'Dzire', 'E Class', 'E2o', 'E2o Plus', 'EON', 'EcoSport',
        'Ecosport', 'Eeco', 'Elantra', 'Elite I20', 'Endeavor',
        'Endeavour', 'Enjoy', 'Eon', 'Ertiga', 'Estate', 'Esteem',
        'Estilo', 'Etios', 'Etios Liva', 'Fabia', 'Fiesta',
        'Fiesta Classic', 'Figo', 'Figo Aspire', 'Fluence',
        'Fluidic Verna', 'Fortuner', 'Freestyle', 'GO', 'Getz', 'Glanza',
        'Grand I10', 'Grand I10 NIOS', 'Grande Punto', 'Gypsy', 'Hector',
        'I10', 'I20', 'I20 Active', 'Ignis', 'Ikon', 'Indica',
        'Indica EV2', 'Indica V2', 'Indica V2 Xeta', 'Indica Vista',
        'Indigo', 'Indigo CS', 'Indigo ECS', 'Indigo XL', 'Innova', 'Jazz',
        'Jeep', 'Jetta', 'KUV100', 'Kwid', 'Lancer', 'Laura', 'Linea',
        'Linea Classic', 'Lodgy', 'Logan', 'Marazzo', 'Maruti 800',
        'Micra', 'Micra Active', 'Mobilio', 'Nano', 'Nexon', 'OMNI E',
        'Octavia', 'Omni', 'Optra', 'Passat', 'Polo', 'Pulse', 'Punto',
        'Punto Evo', 'Qualis', 'RaceMo', 'Rapid', 'Redi GO', 'RediGo',
        'Rexton', 'Ritz', 'S - Presso', 'S Cross', 'S80', 'SX4', 'Safari',
        'Sail', 'Santa Fe', 'Santro', 'Santro Xing', 'Scala', 'Scorpio',
        'Seltos', 'Spark', 'Stile', 'Stingray', 'Sumo Grande',
        'Sumo Victa', 'Sunny', 'Superb', 'Swift', 'Swift 2017',
        'Swift Dzire', 'TUV300', 'Tavera Neo', 'Terrano', 'Thar', 'Tiago',
        'Tigor', 'Triber', 'Tucson', 'Vento', 'Venue', 'Verito', 'Verna',
        'Verna Fluidic', 'Vitara Brezza', 'WR V', 'WRV', 'Wagon R',
        'Wagon R 1.0', 'Wagon R Duo', 'Wagon R Stingray', 'Wrangler',
        'XL6', 'XUV 500', 'Xcent', 'Xenon XT', 'Xylo', 'Yaris', 'Zen',
        'Zen Estilo', 'Zest'], dtype=object)]

In [27]:
# its transfra to all encode columns
tra1= make_column_transformer((OneHotEncoder(categories= encoder.categories_),
                                     [0,3,4]), 
                                     remainder= 'passthrough')

tra2= LinearRegression()

# its create a pipeline 
pipe= make_pipeline(tra1, tra2)

In [38]:
# fit the train inpute and output data in pipeline
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ashok Leyland', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford',
       'Hindustan Motors', 'Honda', 'Hyundai', 'Isuzu', 'Jeep', 'Kia',
       'MG Motors', 'Mahindra', 'Maruti Suzuki', 'Mercedes Benz',
       'Mitsubishi', 'Nissan', 'Renault', 'Skoda', 'S...
       'Swift Dzire', 'TUV300', 'Tavera Neo', 'Terrano', 'Thar', 'Tiago',
       'Tigor', 'Triber', 'Tucson', 'Vento', 'Venue', 'Verito', 'Verna',
       'Verna Fluidic', 'Vitara Brezza', 'WR V', 'WRV', 'Wagon R',
       'Wagon R 1.0', 'Wagon R Duo', 'Wagon R Stingray', 'Wrangler',
       'XL6', 'XUV 500', 'Xcent', 'Xenon XT', 'Xylo', 'Yaris', 'Zen',
       'Zen Estilo', 'Zest'], dtype=object)]),
                                                  [0, 3, 4])])),
                ('linearregression', LinearRegression())])

In [35]:
# prediction in test data
y_pred= pipe.predict(x_test)
r2_score(y_test, y_pred)

0.8192510543758296

In [30]:
# how to find best random_test that give me highest score
'''for i in range (100):
    x_train, x_test, y_train, y_test= train_test_split(x,y,test_size= 0.2, random_state= i)
    tra2= LinearRegression()
    pipe= make_pipeline(tra1, tra2)
    pipe.fit(x_train, y_train)
    y_pred= pipe.predict(x_test)
    print(r2_score(y_test, y_pred), i)'''

'for i in range (100):\n    x_train, x_test, y_train, y_test= train_test_split(x,y,test_size= 0.2, random_state= i)\n    tra2= LinearRegression()\n    pipe= make_pipeline(tra1, tra2)\n    pipe.fit(x_train, y_train)\n    y_pred= pipe.predict(x_test)\n    print(r2_score(y_test, y_pred), i)'

In [41]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2131 entries, 0 to 2608
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       2131 non-null   int32
 1   Brand Name  2131 non-null   object
 2   Year        2131 non-null   int32
 3   Kms Driven  2131 non-null   int32
 4   Fuel Type   2131 non-null   object
 5   Model       2131 non-null   object
dtypes: int32(3), object(3)
memory usage: 91.6+ KB

In [37]:
pipe.predict(pd.DataFrame([['Maruti Suzuki','2010','48000','Diesel','Swift']], columns=['Brand Name','Year','Kms Driven','Fuel Type','Model']))

array([334527.84949361])

In [39]:
import pickle

In [40]:
pickle.dump(pipe, open('car_prediction_lrmodel.pickle','wb'))